.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.banner {
    width: 100vw;
    height: 300px;
    background-image: url('/public/images/pattern-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

h1 {
    margin: 26px 0;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.23px;
    color: white;
}

form {
    width: 330px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

input {
    border: none;
    width: calc(330px - 58px);
    height: 58px;
    padding-left: 22px;
    font-size: 16px;
    font-weight: 400;
}

input::placeholder {
    font-size: 12px;
}

input:focus {
    outline: none;
}

button {
    width: 58px;
    height: 58px;
    background-color: #000;
    border: none;
    transition: .2s;
}

button:hover {
    background-color: #3f3f3f;
}

.container {
    position: absolute;
    top: 168px;
    width: 330px;
    height: 294px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 9;
}

p {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.46px;
    text-transform: uppercase;
    color: #969696;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.18px;
    line-height: 24px;
    margin-top: 6px;
}

.leaflet-container {
    width: 100vw;
    height: calc(100vh - 300px);
    position: absolute;
    left: 0;
    z-index: 8;
}


.leaflet-control-zoom {
    position: fixed !important;
    left: 0 !important;
    bottom: 10px !important;
}

@media (min-width: 1440px) {
    .banner {
        height: 280px;
    }

    h1 {
        margin: 32px 0;
        font-size: 32px;
        letter-spacing: -0.29px;
    }

    form {
        width: 555px;
    }

    input {
        width: calc(555px - 58px);
    }


    .container {

        top: 200px;
        width: 1110px;
        height: 160px;
        flex-direction: row;
        gap: 0;
        text-align: left;
    }

    .flex-item {
        height: 60%;
        flex-grow: 1;
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        border-right: 2px solid #969696;
    }

    p {
        font-size: 12px;
        letter-spacing: 1.75px;
    }

    h2 {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -0.18px;
        line-height: 24px;
        margin-top: 6px;
    }

    .leaflet-container {
        width: 100vw;
        height: calc(100vh - 280px);
    }

}